[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">5.2"
flake8 = "*"
pydocstyle = "*"
docstr-coverage = "*"
pytest-cov = "*"
isort = "*"
bandit = "*"
safety = "*"
mkdocs = "*"
bump2version = "*"
invoke = "*"
mkdocs-material = "*"
mkdocstrings = "*"
flit = "*"
ansible = "*"
docker-compose = "*"
pytest-flask = "*"
autopep8 = "*"
mypy = "*"
fakeredis = "*"
flask-assets = "*"
lesscpy = "*"
jsmin = "*"
githubrelease = "*"

[packages]
flask = "*"
gunicorn = "*"
cerberus = "*"
transitions = "*"
flask-session = "*"
redis = "*"
werkzeug = "*"
flask-cors = "*"
flask-login = "*"
passlib = "*"
argon2-cffi = "*"
flask-wtf = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-sse = "*"
gevent = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
