{% extends 'base.html' %}
{% block content %}
<script src='/static/js/jquery.min.js'></script>
<script src='/static/js/cards.min.js'></script>

<div id='pile' class='pile-container'>
  <img id='card-main' class='card pile-card-main', src='/static/img/cards/2H.svg'>
  <img id='card-left' class='card pile-card-left rotate-card', src='/static/img/cards/4H.svg'>
  <img id='card-across' class='card pile-card-across', src='/static/img/cards/KH.svg'>
  <img id='card-right' class='card pile-card-right rotate-card', src='/static/img/cards/2S.svg'>
</div>
<div id='player-main' class='hand hhand-compact hand-main'></div>
<div id='player-left' class='hand vhand-compact hand-left'></div>
<div id='player-across' class='hand hhand-compact hand-across'></div>
<div id='player-right' class='hand vhand-compact hand-right'></div>

<script>
  // get cards from webapp
  var cards = ['AS', 'KS', 'QS', 'JS', '10S', '9H', '3H'];

  // get player hand
  var $hand = $('#player-main');

  // get current player turn
  var isActive = true;

  // number of players
  var players = [
    {name: 'John', seat: 'left', card_count: 13},
    {name: 'Edgar', seat: 'across', card_count: 13},
    {name: 'Jill', seat: 'right', card_count: 13},
  ];

  // is it players turn
  if(isActive) {
    $hand.addClass('active-hand');
  };

  // present player hand
  $.each(cards, function(_, card) {
    $hand.append(
      $('<img>', {
        class: 'card', src: `/static/img/cards/${card}.svg`
      })
    );
  });

  // abstract player hands
  $.each(players, function(_, player) {
    for(var i = 0; i < player.card_count; i++) {
      var orient;
      if (player.seat == 'left' || player.seat == 'right') {
        card_orient = 'card rotate-card';
      } else {
        card_orient = 'card';
      }
      $(`#player-${player.seat}`).append(
        $('<img>', {
          class: card_orient,
          src: '/static/img/cards/RED_BACK.svg'
        })
      );
    }
  });
</script>
{% endblock %}
